:root {
  /* Text Colors */
  --color-text-primary: #192e4e;
  --color-text-secondary: #989eaa;

  /* Hover and loading states */
  --color-neutral-100: #f89e9e;

  /* Spacing */
  --padding-horizontal-main: 16px;
}
